<div class="x-bar">
  USER ACTIVITY
  <span class="arrowRight"></span>
 </div>

<!--<div class="y-bar">test</div>
<div class="arrowDown"></div>-->

<div id="zynga-storymap-container">
  <div id="content">
    <div id="storyActivitiesList" class="row">
    </div>
  </div>
</div>

<div id="tempContainer"></div>