<div class="x-bar">User Activity</div>
<div class="arrowRight"></div>

<!--<div class="y-bar">test</div>
<div class="arrowDown"></div>-->
<div id="storyActivitiesList" class="row">
</div>


<div id="tempContainer"></div>