<div class="row">
  <div class="span1 storyContainer">1</div>
  <div class="span1 storyContainer">2
  <div>2-1</div>
  <div>2-2</div>
  <div>2-3</div>
  </div>
  <div class="span1 storyContainer">3</div>
  <div class="span1 storyContainer">4</div>
  <div class="span1 storyContainer">4</div>
  <div class="span1 storyContainer">4</div>
  <div class="span1 storyContainer">4</div>
  <div class="span1 storyContainer">4</div>
  <div class="span1 storyContainer">4</div>
  <div class="span1 storyContainer">4</div>
  <div class="span1 storyContainer">4</div>
  <div class="span1 storyContainer">4</div>
  <div class="span1 storyContainer">4</div>
  <div class="span1 storyContainer">4</div>
  <div class="span1 storyContainer">4</div>
  <div class="span1 storyContainer">4</div>
</div>