<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0"/>

  <title>Lincoln Mobility COE</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>

  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }
  </style>
</head>
<body>
<div id="viewporter">
<!--  <div id="container" class="container">-->
    <div class="row">
      <div class="span15">
        <div id="projectsList">

          <ul class="thumbnails">
            <li class="span4">
              <div class="thumbnail">
                <img src="http://placehold.it/290x180" alt="">

                <div class="caption">
                  <h5>Visualizer</h5>

                  <p>Visualizer is a Sales Demo tool for Annuities</p>
                </div>
              </div>
            </li>
            <li class="span4">
              <div class="thumbnail">
                <img src="http://placehold.it/290x180" alt="">

                <div class="caption">
                  <h5>BCP Field Contacts</h5>

                  <p>App for looking up Field Contacts</p>
                </div>
              </div>
            </li>
            <li class="span4">
              <div class="thumbnail">
                <img src="http://placehold.it/290x180" alt="">

                <div class="caption">
                  <h5>Sales Logix CRM</h5>

                  <p>Mobile Optimized Sales Logix CRM</p>
                </div>
              </div>
            </li>
            <li class="span4">
              <div class="thumbnail">
                <img src="http://placehold.it/290x180" alt="">

                <div class="caption">
                  <h5>Sales Logix CRM</h5>

                  <p>Mobile Optimized Sales Logix CRM</p>
                </div>
              </div>
            </li>
          </ul>
          </ul>


        </div>

      </div>

      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav list">
            <li class="nav-header">Sidebar</li>
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="nav-header">Sidebar</li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="nav-header">Sidebar</li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>

      <!--! end of #container -->
    </div>
  </div>
<!--</div>-->

</body>
</html>

