<div class="row-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="span3">
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">Team</li>
        <li>
          <a href="#"><img src="https://twimg0-a.akamaihd.net/profile_images/1181071089/image_normal.jpg" width="30" height="30" alt=""> Imran</a></li>
        </li>
        <li>
          <a href="#"><img src="http://placehold.it/20x20" alt=""> Eirc</a></li>
        </li>
      </ul>
    </div>

    <div>
      <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">Tags</li>
          <li>
            <a href="#"> #bug</a>
          </li>
          <li>
            <a href="#"> #SecureStorage</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="span6">
    <div class="well">
      <h2>iEngage
        <small>Timeline</small>
      </h2>
    </div>

    <div>
      <form class="well">
        <textarea class="input" id="textarea" rows="2" style="width:95%" placeholder="Compose new message..."></textarea>

        <div>
          <button type="submit" class="btn">Update</button>
        </div>
      </form>
    </div>

    <div class="well" style="background-color: white">
      <div class="row-fluid">
        <div class="span1"><img src="https://twimg0-a.akamaihd.net/profile_images/1181071089/image_normal.jpg" alt=""></div>
        <div class="span11">
          Had a bug in the charts module, filing a bug with Sencha
        </div>
      </div>
      <hr>
      <div class="row-fluid">
        <div class="span1"><img src="https://twimg0-a.akamaihd.net/profile_images/1181071089/image_normal.jpg" alt=""></div>
        <div class="span11">
          Had a bug in the charts module, filing a bug with Sencha
        </div>
      </div>
      <hr>
      <div class="row-fluid">
        <div class="span1"><img src="https://twimg0-a.akamaihd.net/profile_images/1181071089/image_normal.jpg" alt=""></div>
        <div class="span11">
          Had a bug in the charts module, filing a bug with Sencha
        </div>
      </div>


    </div>

    <!--/row-->
  </div>
  <div class="span3">

    <div>
      <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">Tasks</li>
          <div id="newTask">
            <input type="text" style="width: 80%" placeholder="New Task"/>
          </div>
          <li>
            <a><input type="checkbox"> Setup Test Project and do some other thing as well</a>
          </li>
          <li>
            <a><input type="checkbox"> Deploy to App Store</a>
          </li>
        </ul>
        <ul class="nav nav-list">
          <li class="nav-header">Completed Tasks</li>
          <li>
            <a><input type="checkbox" checked="true"> Setup Test Project</a>
          </li>
          <li>
            <a>
              <input type="checkbox" checked="true">
              Schedule Load Test</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!--/span-->
</div><!--/row-->