<div id="addActitivyModal">
    <div class="modal">
        <div class="modal-header">
            <a href="#" class="close js-dismiss">×</a>
            <h3>
                {{#if this.editable}}
                    Update
                {{else}}
                    New
                {{/if}}
                User Activity
            </h3>
        </div>
        <div class="modal-body">
            <form id="newActivityForm" class="form-horizontal">

                <fieldset class="control-group">
                    <label class="control-label" for="name">Name</label>

                    <div class="controls">
                        <input class="input-xlarge focused" id="name" name="name" type="text"
                               placeholder="Activity Name"
                               required/>
                    </div>
                </fieldset>
                <fieldset class="control-group">
                    <label class="control-label" for="desc">Description</label>

                    <div class="controls">
                        <textarea class="input-xlarge" name="desc" id="desc" rows="3"></textarea>
                    </div>
                </fieldset>
                {{#if this.editable}}
                <fieldset class="control-group">
                    <label class="control-label" for="name">Board Order (Hack)</label>

                    <div class="controls">
                        <input class="input-xlarge focused" id="boardOrder" name="boardOrder" type="text"
                               placeholder="Board Order"
                               required/>
                    </div>
                </fieldset>
                {{/if}}
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" id="saveActivity">Save changes</a>
            {{#if this.editable}}
                <a href="#" class="btn btn-danger" id="deleteActivity">Delete</a>
            {{/if}}
            <a href="#" class="btn">Close</a>
        </div>
    </div>
</div>