    <div class="storyTask">
        <div class="type">
            <div class="storyTitle">{{ name }}</div>
            <!--<span class="chat">&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
            <i class="plus addUserTask"></i>
            <i class="edit"></i>
        </div>

        <div class="storyDesc">{{ desc }}</div>

<!--        <div class="bottom-panel">
            <div id="assigned"><i class="user"></i> {{ assigned }}
                <span class="chat">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
        </div>-->

    </div>