<div id="{{ id }}" class="storyContainer span1">
    <div class="story">
        <div class="type">
            <div class="typeIndicator"></div>
            <div class="storyTitle">{{ name }}</div>
            <!--<span class="chat">&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
            <i class="icon-plus addUserTask"></i>
            <i class="icon-pencil editActivity"></i>
        </div>

        <div class="storyDesc">{{ desc }}</div>

<!--        <div class="bottom-panel">
            <div id="assigned"><i class="user"></i> {{ assigned }}
                <span class="chat">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
        </div>-->

    </div>
</div>